@import "../../styles/tools";


.gridParent {
  @include grid-parent;
}

.mainContainer{
  display: block;
  width: 100%;
  background-color:white;
  }

.headerBodySection{
  width: 100%;
  max-width: $site-max-width;
  margin: 0 auto;

  @media (min-width: $break-point-b) {
    //min-height: 668px;
    padding-left: 50px;
  }

  @media (min-width: $break-point-c) {
    //min-height: 662px;
    padding-left: 30px;
  }
}

.menuSection{
  display: block;
  width: 100%;
}

// .gridContainer{
//   max-width: 1136px;
//   margin: 0 auto 32px;
//   padding: 0 30px;
//   display: grid;
//   grid-template-columns: repeat(auto-fill, 8px);
//   grid-template-rows: 24px 76px;
// }  
// .titleSection{
//   grid-column: 1 / 80;
//   grid-row: 2;
// }

// .menuSection{
//   grid-column: 1 / 80;
//   grid-row: 3;
// }