@import "../../styles/tools";
.flightCheckinContainer {
  @include grid-parent;
}

.flightCheckinHeader {
  @include grid-child(2, 12, 1, 2);
  line-height: 32px;
  font-size: $mobile-h5-font-size;
  &:focus {
    outline: 1px dotted $modern-gold;
  }
  @media (min-width: $break-point-c) {
    font-size: $h5-font-size;
  }
}

.buttonContainer {
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 2px;
  padding-right: 2px;
  @media (min-width: $break-point-c) {
    box-shadow: $box-shadow;
    &:last-child {
      margin-bottom: 4px;
    }
    background: $white;
    &:nth-child(odd) {
      background: $off-white;
    }
  }
}

.selectedBorder {
  border-right: 8px solid $united-blue;
}

.notSelectedBorder {
  border-right: 8px solid transparent;
}

.flightCheckinSegmentContainer {
  @include grid-child(2, 12, 2, 3);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  @media (min-width: $break-point-c) {
    height: 363px;
    text-align: left;
    @include grid-child(1, 13, 2, 3);
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black-40;
  }
}

.checkinAnotherTripLink {
  @include grid-child(2, 12, 3, 4);
  padding: 16px 0px;

  button {
    font-size: $body-sm-leading;
    transition: color 0.4s;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:after {
      @include linkArrow;
      margin-left: 4px;
    }

    &:hover:after {
      border-color: $link-blue;
    }
  }
}

.checkinSegmentDetail {
  display: flex;
  flex-flow: column;
  padding: 16px 0 0px 0;
  &:last-child {
    padding-bottom: 17px;
  }
  @media (min-width: $break-point-c) {
    margin-right: 16px;
    padding: 24px 32px 32px 47px;
  }
}

.flightCheckIn {
  line-height: 32px;
  font-size: $body-sm-leading;
  font-weight: bold;
  @media (min-width: $break-point-c) {
    font-size: $body-large-text;
  }
}

.flightSegment {
  display: flex;
  flex-flow: row;
  padding-top: 8px;
}

.departureColumn {
  flex: 1;
  display: flex;
  flex-flow: column;
  text-align: left;
}

.flightColumn {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 18%;
}

.arrivalColumn {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin-left: 17px;
  @media (min-width: $break-point-c) {
    text-align: right;
  }
  .airportDataBlock {
    @media (min-width: $break-point-c) {
      text-align: right;
    }
  }
  .temperature {
    text-align: right;
  }
  .iconWeather {
    text-align: right;
  }
  .airportCodeCityName {
    @media (min-width: $break-point-c) {
      text-align: right;
      width: 66%;
      float: left;
      word-break: inherit;
    }
  }
}

.airportCodeCityName {
  display: flex;
  flex-flow: column;
  width: 53%;
  @media (min-width: $break-point-c) {
    width: 50%;
  }
}

.airportDataBlock {
  display: flex;
  flex-flow: row;
  align-content: right;
  @media (min-width: $break-point-c) {
    padding-top: 8px;
  }
}

.weatherIconTemperature {
  display: flex;
  flex-flow: column;
  padding-left: 8px;
  @media (min-width: $break-point-c) {
    float: right;
    width: 34%;
  }
}

.departure {
  font-weight: bold;
  line-height: 24px;
  font-size: $body-sm-text;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.date {
  line-height: 24px;
  font-size: 13px;
  @media (min-width: $break-point-c) {
    font-size: $body-sm-leading;
  }
}

.time {
  line-height: 24px;
  font-size: $body-xs-leading;
  @media (min-width: $break-point-c) {
    font-size: $body-sm-leading;
  }
}

.airportCode {
  line-height: 40px;
  font-size: $h5-font-size;
  @media (min-width: $break-point-c) {
    font-size: $h4-font-size;
  }
}

.cityName {
  line-height: 24px;
  font-size: $body-xs-leading;
  padding-right: 5px;
  word-break: inherit;
  @media (min-width: $break-point-c) {
    font-size: $body-sm-leading;
  }
}

.temperature {
  line-height: 24px;
  font-size: $body-xs-leading;
  @media (min-width: $break-point-c) {
    text-align: center;
    font-size: $body-sm-leading;
  }
}

.dayCount {
  line-height: 24px;
  font-size: $body-sm-text;
  letter-spacing: 1.08px;
  font-weight: bold;
  text-transform: uppercase;
}

.dayCountBlock {
  height: 38%;
  @media (min-width: $break-point-c) {
    height: auto;
  }
}

.onlyFlightIcon {
  height: 38%;
}

.flightIconDuration {
  display: flex;
  flex-direction: column;
  height: 38%;
}

.stopCountCityName {
  display: flex;
  flex-direction: column;
  height: auto;
}

.stopCount {
  font-weight: bold;
  line-height: 24px;
  font-size: $body-sm-text;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.timeDuration {
  font-size: $body-sm-text;
}

.stopCityName {
  line-height: 16px;
  font-size: $body-sm-text;
}

.horizontalLine {
  border: 1px solid #979797;
  margin: 24px 0px 8px 0px;
}

.viewDetailBtn {
  text-align: right;
  font-size: $body-sm-leading;
  line-height: 24px;
  color: $primary-link-default-secondary-color;
  button {
    padding-right: 0px;
    text-decoration-line: underline;
  }
  &:after {
    @include linkArrow;
    margin-bottom: 2px;
  }
}

.icon {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  img {
    margin: 0;
    width: 8px;
    height: 8px;
    padding-bottom: 1px;
  }
}

.iconCheckin {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  img {
    margin: 0;
    width: 24px;
    height: 24px;
    padding-bottom: 1px;
  }
}

.iconWeather {
  display: inline-block;
  text-align: left;
  @media (min-width: $break-point-c) {
    text-align: center;
  }
  margin-left: 5px;
  line-height: 40px;
  img {
    margin: 0;
    height: 26px;
    @media (min-width: $break-point-c) {
      height: 32px;
    }
    padding-bottom: 1px;
  }
}

.flightIcon {
  display: inline-block;
  text-align: center;
  img {
    margin: 0;
    width: 24px;
    padding-bottom: 1px;
  }
}

.bottomAppImage {
  @include grid-child(1, 5, 4, 5);
  margin-left: 24px;
  margin-bottom: 24px;
}

.appTxtStyle {
  @include grid-child(5, 13, 4, 5);
  margin-right: 24px;
  margin-top: 16px;
  font-size: 12px;
  color: $united-blue;
  letter-spacing: 0;
  line-height: 16px;
}


.appLinkStyle {
  position: absolute;
  font-size: 12px;
  color: $link-blue;
  letter-spacing: 0;
  line-height: 9px;
  margin-top: 16px;
  right: 32px;

  &:after {
    @include linkArrow;
  }
}


.appIcon {
  height: 112px;
}

.srOnly {
  @include visually-hidden;
  text-transform: none;
  font-size: 1;
  line-height: 0;
  height: 0;
}

.modalOpenDisplay {
  display: none;
}

.modalClosedDisplay {
  display: inline;
}
